body {
  background-color: #cfe8fe;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container {
  color: #fff;
  height: 100vh;
}

.content-container {
  height: 75vh;
  position: relative;
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}

.accordion-container {
  background-color: white;
  font-family: "Oldenburg", serif;
} 

.accordion {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  font-size: large;
  font-family: "Oldenburg", serif;
}

.active, .accordion:hover {
  background-color: #7d5ee3;
}

.panel {
  padding: 0 18px;
  background-color: #ffffff;
  display: none;
  overflow: hidden;
}

.footer-container {
  background-color: #cfe8fe;
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?q=80&w=2976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.media {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.text {
  text-align: center;
}

#Discoverbanff {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}

.css-button {
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 5px;
	border: solid 1px #3866a3;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(180deg, #64b9ff 10%, #045698 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
}
.css-button:hover {
	background: linear-gradient(180deg, #840096 10%, #ef88ed 100%);
}
.css-button-text {
	position: relative;
	padding: 10px 18px;
}
.css-button-icon {
	position: relative;
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 10px 10px;
}

.btn-container {
  text-align: center;
  margin-top: 50px;
}



.active, .accordion:hover {
  background-color: #ccc; 
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-bars {
  padding: 0;
}

.footer-date {
  text-align: center;
  background-color: #cfe8fe;
  display: flex;
  align-self: flex-end;
  padding-right: 400px;
}

.col {
  float: left;
  width: 33.33%;
  padding: 15px;
  text-align: left;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #b3b8bd;
  color: rgb(0, 0, 0);
}

.col {
  float: left;
  width: 33.33%;
  padding: 15px;
  text-align: left;
}
/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 100%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 20px;
    width: 100%;
    margin: auto;
  }
  .content-container {
    height: auto;
    width: auto;
  }
  #Discoverbanff {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
  .media {
    display: block;
    width: 100%;
  }
  iframe {
    width: 375px;
    height: 200px;
  }
  img {
    width: 375px;
    height: 200px;
  }
  .accordion {
    font-size: 1.5rem;
  }
  .col1 {
    text-align: right;
    padding-left: 170px;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
  .content-container {
    height: auto;
    width: auto;
  }
  iframe {
    width: 375px;
    height: 200px;
  }
  img {
    width: 375px;
    height: 200px;
    padding-bottom: 10px;
  }
  .css-button {
    font-size: 15px;
  }
  .banff {
    font-size: 1.3rem;
  }
  #Discoverbanff {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .media {
    display: block;
    width: 300px;
  }
  .accordion-container {
    position: relative;
  }
  footer {
    display: block;
    font-size: 1rem;
  }
  .panel {
    font-size: 1rem;
  }
}